<section id="article-<%= article_id %>" class="short_article" style="background: url(<%- preview_image %>) center/cover no-repeat;">
    <div class="container">

        <header>
            <h3 class="alt"><strong><%= title %></strong></h3>
            <p><%- short_description %></p>
        </header>

        <footer>
            <a href="../article-page?id=<%= article_id %>" class="button-33" role="button"><strong>Open the
                    Article</strong></a>
        </footer>

    </div>
</section>